.top {
    padding-top: 100px;
    height: 300px;
    text-align: center;
    background-color: lightpink;
}
h1, h2 {
    
    color: white;
}
.tru {
    background-color:paleturquoise;
    display: none;
}
.bonus {
    margin-left: 1250px;
    font-size: 8px;
    text-align: center;
    width: 50px;
    background-color: white;
    color:paleturquoise;
}
.fal {
    text-align: center;
    background-color: lightslategray;
    color: white;
    display: none;
}
.hide-hint1 {
    display: none;
}
.hide-hint2 {
    display: none;
}
